/* Square Area card styles's */

.form--card
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card--title-container
{
    width: 70%;
    height: auto;
    text-align: center;
    position: relative;
    margin-bottom: 48px;
}

.title-container--shape
{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--strong-gray);
    position: absolute;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.card--title-container .title-container--result
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    border-bottom: 2px solid var(--strong-gray);
    background-color: white;
    border-radius: 8px 8px 2px 2px;
}

.card--body-container
{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    width: 80%;
}

.cdbody--input-value
{
    border: none;
    border-bottom: 1px solid var(--strong-gray);
    border-radius: 10px 10px 4px 4px;
    height: 50px;
    padding: 16px 24px;
    font-size: 18px;
    
}

.cdbody-container--input-submit
{
    appearance: none;
    background-color: var(--strong-gray);
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 8px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}