
@media(min-width: 1100px)
{
    header
    {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 165px)

    }

    .header-info--container
    {
        grid-area: 1 / 2 / 5 / 3 ;
        
    }
}